GOOGLE_SEARCH_API_KEY = APIKeyStringHere
GOOGLE_SEARCH_CX = APICXHere

PG_PASSWORD = YourPostgresPW
PG_USERNAME = YourPostgresUsername
DB_PORT = HostPortofDatabase (integer)

JWTSECRET = YourAuthSecretHere