{
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.jsx", "*.tsx"],
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    },
    {
      "files": "*.md",
      "options": {
        "tabWidth": 4,
        "useTabs": true,
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
