.Block {
  background-color: var(--green);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid rgb(86, 172, 86);
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  position: relative;
}

.titleInfoContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px 20px;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin: 10px;
  margin-bottom: 0;
}

.imageContainer img {
  display: block;
  width: 84px;
  height: 124px;
}

.imageContainer .album-img {
  width: 124px;
  object-fit: cover;
}

.imageContainer img:hover {
  outline: 2px solid green;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
}

.overlay {
  position: absolute;
  pointer-events: none;
  inset: 0;
  background-color: rgba(0, 200, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay p {
  transform: rotate(-65deg);
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 77, 0);
}

.overlay.show {
  opacity: 1;
}

.Block .Icon {
  position: absolute;
  left: 2%;
  bottom: 2%;
}
