:root {
  --lightpink: #f4d8d8;
  --darkpink: #e1b3b5;
  --peach: #f9d4b4;
  --green: #d2d0b7;
}

.InfoForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  background-size: cover;
  border-bottom: 5px solid var(--darkpink);
  padding-top: 5px;
  align-items: center;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  position: relative;
}

.InfoForm button:hover {
  background-color: var(--darkpink);
  cursor: pointer;
}
.InfoForm img {
  width: 500px;
  margin-top: 0;
}

.queryCount {
  position: absolute;
  left: 20px;
  top: 20px;
}
