.Block {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  height: fit-content;
  width: fit-content;
}

.Block.book {
  background-color: #98ab88;
  border-color: #3d770d;
}
.Block.movie {
  background-color: #323b43;
  color: white;
  border-color: black;
}
.Block.album {
  background-color: #f4c7c5;
  border-color: #d49a97;
}
.Block.video_game {
  background-color: #7fa5a3;
  border-color: #4e8885;
}

.titleInfoContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px 20px;
  align-items: center;
  padding: 20px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin: 10px;
  margin-bottom: 0;
}

.imageContainer img {
  display: block;
  width: 84px;
  height: 124px;
}

.imageContainer .album-img {
  width: 124px;
  object-fit: cover;
}

.imageContainer img:hover {
  outline: 2px solid green;
  cursor: pointer;
}

.imageWrapper {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
}

.overlay {
  position: absolute;
  pointer-events: none;
  inset: 0;
  background-color: rgba(0, 200, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay p {
  transform: rotate(-65deg);
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 77, 0);
}

.overlay.show {
  opacity: 1;
}

.Block .Icon {
  position: absolute;
  left: 1%;
  bottom: 1%;
}

.Block .DeleteIcon {
  position: absolute;
  right: 1%;
  bottom: 1%;
  padding: 0;
}

.genreCheckboxes {
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(4, max-content); /* two equal-width columns */
  gap: 5px 10px; /* space between rows and columns */
  align-items: center;
  justify-content: space-between;
  margin: 0 25px 30px 25px;
}

.genreCheckboxes label:hover {
  cursor: pointer;
}

.colorPicker {
  width: 50%;
  height: 20px;
}

.colorPicker:hover {
  cursor: pointer;
}

.databaseTag {
  font-size: 20px;
  color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;

  position: absolute;
  right: 1%;
  top: 1%;
  padding: 5px;
  margin: 0;
  background-color: rgb(70, 66, 66);
}
