.LoadingWidget {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 25%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  font-size: 25px;
  letter-spacing: 1px;
  padding: 4px;
  border-radius: 10px;
  color: black;
  align-items: center;
  justify-content: center;
  height: 25%;

  background-color: var(--lightpink);
  border: 3px solid var(--darkpink);
}
