.QueryCounter {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--lightpink);
  border: 2px solid var(--darkpink);
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  margin: 16px;
}
