.Block {
  background-color: var(--green);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid rgb(86, 172, 86);
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  position: relative;
}

.titleInfoContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px 20px;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin: 10px;
  margin-bottom: 0;
}

.imageContainer img {
  box-sizing: border-box;
  width: 84px;
  height: 124px;
}

.imageContainer img:hover {
  border: 2px solid red;
  cursor: pointer;
}

.Block .Icon {
  position: absolute;
  left: 0;
  bottom: 0;
}
