.MediaInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  padding: 20px;
}

.MediaInput {
  background-color: white;
  border-radius: 5px;
  width: 300px;
}

@media (max-width: 650px) {
  .MediaInputs {
    display: flex;
    flex-direction: column;
  }
}

.MediaInputs > :nth-child(2n + 1):nth-last-child(1) {
  grid-column: span 2; /* take up both columns */
  justify-self: center; /* center within that spanned area */
}
